<html>
    <head>
        <title>{{ title }} Sentiment Analysis</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
    <div class="background">
        <div class="indiv">
            <h1>:) Sentiment Analyzer (:</h1><br>
            <form method="POST">
                <div class="input_area">
                <textarea name="text1" placeholder="Enter here ...." rows="8" cols="85"></textarea>
                </div>
                <input class="example_a" type="submit" style= "cursor:pointer"  name="Button"><br>
            </form>

            <div class="output">
                {% if final %}
                The Sentiment of -  <b>'{{ text1 }}'</b>  Polarity percentage is: <b>{{ final }} </b> 
                {% endif %}
            </div>

        </div>
         <div class="graph">
         <img src="./static/abc.jpg">
         </div>
        <div class="copy">&copy;Samrat Patra</div>
    </div>
    </body>
</html>
